body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: #2e2940;
}

.ui.menu {
  background-color: #1f1b2e;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 4;
}

.table_sortableBtn {
  background: none;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.ui.menu a {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table_body {
  max-width: 70vw;
  margin-left: 15%;
  margin-top: 2.6%;
  padding-bottom: 40px;
}

tr:hover {
  background: #f6f6f6;
  transition: 0.6s;
}

thead tr {
  cursor: pointer;
}

.modalWindow {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #2e2940;
}

.chars {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 33%;
}

.char_item {
  margin-right: 2vw;
  margin-bottom: 2vh;
}
.nav_logo {
  width: 6vw;
  height: 8vh;
}

.nav_container {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #100e19;
}
